@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@1,500&family=Libre+Baskerville:ital@0;1&family=Permanent+Marker&family=Sriracha&display=swap');

.home__container{
  display: flex;
  margin: 0 2rem;
}

/* @media (min-width:50em){
  .home__container{
    grid-template-columns: repeat(2, 1fr);
  }
} */

.intro__text{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.intro__text h1{
  font-family: 'Chivo', sans-serif;
  font-size: 4rem;
}

.intro__text strong{
  color: rgb(13, 109, 235);
}

.intro__text p{
  font-family: 'Sriracha', cursive;
  font-size: 1.5rem;
  color: rgb(55, 47, 63);

}

.author__image{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author__img{
  
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.author__img{
  transition: 1s ease;
  }
  
.author__img:hover {
-webkit-filter: blur(5px);
transition: 1s ease;
}

@media (max-width:70em){
  .intro__text h1{
    font-size: 2rem;
  }
  .intro__text p{
    font-size: 1rem;
  }
  .author__image{
    margin: 0 auto;
  }
}

.small__introheading{
  font-family:'Sriracha', cursive;
}

.small__intro{
  font-family: 'Sriracha', cursive;
}

.skills-container{
  margin-top: 2rem;
  align-items: center;
}

.blockquote p{
  font-family:'Sriracha', cursive;
  font-weight: bold;
}
.skills-card{
  margin-top: 2rem;
}

.connect__container{
  height: 100vh;
  font-family: 'Sriracha', cursive;
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: 8rem;
}
.connect__container h3{
  color: rgb(87, 87, 190);
}

.connect__container button{
  margin-bottom: 1rem;
  background: rgb(230, 53, 53);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

.projects__intro{
  margin-top: 2rem !important;
  align-items: center;
  justify-content: center;
  
}
.projects__card{
  margin-top: 3rem;
}

.card img{
  max-height: 40vh;
  object-fit: contain;
}

@media screen and (max-width: 1050px) {
  .home__container {
      flex-direction: column;
  }

  .intro__text {
      margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .intro__text h1 {
      font-size: 48px;
      line-height: 60px;
  }

  .intro__text p {
      font-size: 16px;
      line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .intro__text h1 {
      font-size: 36px;
      line-height: 48px;
  }

  .intro__text p {
      font-size: 14px;
      line-height: 24px;
  }
}